@font-face {
  font-family: 'iconfont';
  src: url('iconfont.ttf?t=1737698086325') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.icon-zhongyingwen::before {
  content: "\e605"
}